.item{
    background-color: violet;
    /* padding: 20px; */
    border: 1px solid #333;
    /* min-height: 60px;; */
    box-sizing: border-box;
}

.container{
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-auto-rows: minmax(100px, auto);

    grid-template-areas: 
    "header header header"
    "sidebar content content"
    "sidebar comment comment"
    "footer footer footer";
}

.item1{
    grid-area: header;
}

.item2{
    grid-area: sidebar;
}


.item3{
    grid-area: content;
}

.item4{
    /* grid-row-start: 2;
    grid-row-end: 4; */

    /* grid-row: 2/4; */

    grid-area: comment;
}

.item5{
    /* grid-column-start: 2;
    grid-column-end: 4; */

    /* grid-column: 2/4; */
    grid-area: footer;
}

